// === BG COLOR
$bg-color-primary: #EFF0F2;
$bg-color-secondary:#E8EAEC;
$bg-color-button:#E0E2E6;
$bg-color-shadow: rgba(229, 229, 229, 1);
$bg-color-active-dot: #08ff00;
$bg-color-white: #ffffff;
$bg-color-black: #000000;



// === TEXT COLOR
$text-color-main: #484848;
$text-color-secondary: #9A9A9A;
$text-color-light: rgba(124, 124, 124, 0.56);
$text-color-error: #d20000;

// === TEXT SIZE
$font-size-xxs: 12px;
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 15px;
$font-size-lg: 16px;
$font-size-xl: 17px;
$font-size-xxl: 18px;
$font-size-xxxl: 22px;




